/* Leila Stowe CSS starts */

/* css for both webpages */
.ls_body{
	background-color:#EFECE3;
}

#ls_navbar{
	background-color:#8FABD4;
}

.ls_h1{
	color:#EFECE3;
	text-align:center;
	background-color:#4A70A9;
	font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
	padding:30px;
	margin-bottom:0px;
}

.ls_p{
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	
}

.title{
	text-decoration:underline;
}

.button {
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 15px 30px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius:25px;
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	margin-left:120px;
}

.box{
		background-color:#8FABD4;
		border-radius:25px;
		padding:30px;
		margin-top:30px;
	}

	/* Introduction section */
	

	.introCity{
		height:300px;
		width:400px;
		float:left;
		padding-right:30px;
	}

	.introCityTwo{
		height:300px;
		width:450px;
		float:right;
		padding-left:30px;
	}
	

	/* Research preview section on the home page*/

	.rPreviewBike{
		height:300px;
		width:450px;
		float:right;
		padding-left:30px;
	}


	/* image carousel */
	.carousel{
		padding-top:30px;
		
	}

	/* research overview page */

	.rBikes{
		height:300px;
		width:400px;
		float:left;
		padding-right:30px;
	}
	

	.rBus{
		height:300px;
		width:450px;
		float:right;
		padding-left:30px;
	}


	.rCity{
		height:300;
		width:450px;
		float:left;
		padding-right:30px;
	}
	
	
	.rCityTwo{
		height:275px;
		width:455px;
		float:right;
		padding-left:30px;
	}

	


/* Leila Stowe CSS ends */


