/* css for both webpages */
.lsbody{
	background-color:#EFECE3;
}

.lsh1{
	color:#EFECE3;
	text-align:center;
	background-color:#4A70A9;
	font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
	padding:3%;
}

.lsp{
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom:3%;
	
}

.button {
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 1.5% 3%;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius:25px;
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
}


/* Introduction section */
.intro{
	background-color:#8FABD4;
	border-radius:25px;
	padding:3%;
	margin-top:3%;
}

.introCity{
	height:30%;
	width:35%;
	float:left;
	padding-right:3%;
}

.introCityTwo{
	height:30%;
	width:40%;
	float:right;
	padding-left:3%;
}

/* Research preview section */
.rPreview{
	background-color:#8FABD4;
	border-radius:25px;
	padding:3%;
	margin-top:3%;
}

.rPreviewBike{
	height:30%;
	width:35%;
	float:right;
	padding-left:3%;
}


/* image carousel */
.carousel{
	height:60%;
	width:75%;
	padding-top:3%;
	margin-left:10%;
}

/* research overview page */
.research{
	background-color:#8FABD4;
	border-radius:25px;
	padding:3%;
	margin-top:3%;
}

.rBikes{
	height:35%;
	width:40%;
	float:left;
	padding-right:3%;
}

.rBus{
	height:60%;
	width:50%;
	float:right;
	padding-left:3%;
}

#aButton{
	margin-left:85%;
}

.rCity{
	height:40%;
	width:45%;
	float:left;
	padding-right:3%;
}

.rCityTwo{
	height:50%;
	width:55%;
	float:right;
	padding-left:3%;
}

#bButton{
	margin-left:85%;
}

