/* Leila Stowe CSS starts */

/* css consistant across both of my webpages */
.ls_body{
	background-color:#EFECE3;
}

#ls_navbar{
	background-color:#8FABD4;
}

.ls_h1{
	color:#EFECE3;
	text-align:center;
	background-color:#4A70A9;
	font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
	padding:30px;
	margin-bottom:0px;
}

.ls_p{
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	
}

.title{
	text-decoration:underline;
}

.button {
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 15px 30px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius:25px;
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	margin-left:120px;
}

.box{
		background-color:#8FABD4;
		border-radius:25px;
		padding:30px;
		margin-top:30px;
		opacity:0.7;
	}

	/* css only relivant for my introduction section on my home page*/
	

	.introCity{
		height:300px;
		width:370px;
		float:left;
		padding-right:30px;
	}

	.introCityTwo{
		height:300px;
		width:370px;
		float:right;
		padding-left:30px;
	}
	

	/* css only relivant for my research preview section on my home page*/

	.rPreviewBike{
		height:300px;
		width:370px;
		float:right;
		padding-left:30px;
	}


	/* css only relivant for my image carousel on my home page*/
	.carousel{
		padding-top:30px;
		
	}

	/* css only relivant for my research summaries on my research overview page*/

	.rHousing{
		height:270px;
		width:370px;
		float:left;
		padding-right:30px;
	}
	
	.rCity{
			height:400px;
			width:370px;
			float:right;
			padding-left:30px;
		}
	
	.rBus{
		height:350px;
		width:375px;
		float:left;
		padding-right:30px;
	}


	.rHeritage{
		height:450px;
		width:370px;
		float:right;
		padding-left:30px;
	}

	


/* Leila Stowe CSS ends */


