/* Leila Stowe CSS starts */

/* css for both webpages */
.ls_body{
	background-color:#EFECE3;
}

#navbar{
	background-color:#8FABD4;
}

.ls_h1{
	color:#EFECE3;
	text-align:center;
	background-color:#4A70A9;
	font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
	padding:3%;
	margin-bottom:0px;
}

.ls_p{
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	
}

.button {
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 1.5% 3%;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius:25px;
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
}

div{
	margin-bottom: 5%;
}


@media screen and (min-width: 461px) and (max-width: 1920px) {
	/* Introduction section */
	
	.intro{
		background-color:#8FABD4;
		border-radius:25px;
		padding:3%;
		margin-top:3%;
	}

	.introCity{
		height:40%;
		width:45%;
		float:left;
		padding-right:3%;
	}

	.introCityTwo{
		height:40%;
		width:50%;
		float:right;
		padding-left:3%;
	}
	

	/* Research preview section */

	.rPreview{
		background-color:#8FABD4;
		border-radius:25px;
		padding:3%;
		margin-top:3%;
	}

	.rPreviewBike{
		height:80%;
		width:45%;
		float:right;
		padding-left:3%;
	}


	/* image carousel */
	.carousel{
		height:60%;
		width:75%;
		padding-top:3%;
		margin-left:10%;
	}

	/* research overview page */
	.research{
		background-color:#8FABD4;
		border-radius:25px;
		padding:3%;
		margin-top:3%;
	}

	.rBikes{
		height:75%;
		width:40%;
		float:left;
		padding-right:3%;
	}
	
	#aButton{
		margin-left:10%;
	}

	.rBus{
		height:70%;
		width:50%;
		float:right;
		padding-left:3%;
	}

	#bButton{
		margin-left:70%;
	}

	.rCity{
		height:80%;
		width:45%;
		float:left;
		padding-right:3%;
	}
	
	#cButton{
		margin-left:10%;
	}

	.rCityTwo{
		height:80%;
		width:55%;
		float:right;
		padding-left:3%;
	}

	#dButton{
		margin-left:70%;
	}
}

/* mobile version */
@media screen and (min-width: 360px) and (max-width: 460px) {
	/* Introduction section */	
		
	.intro{
		background-color:#8FABD4;
		border-radius:25px;
		padding:3%;
		margin-top:3%;
		margin-top:3%;
	}

	.introCity{
		height:20%;
		width:75%;
		padding-bottom:3%;
		margin-left:10%;
	}

	.introCityTwo{
		height:20%;
		width:85%;
		padding-bottom:3%;
		margin-left:6%;
	}
	
	
	/* Research preview section */

	.rPreview{
		background-color:#8FABD4;
		border-radius:25px;
		padding:3%;
		margin-top:3%;
	}

	.rPreviewBike{
		height:30%;
		width:85%;
		padding-bottom:3%;
		margin-left:8%;
	}


	/* image carousel */
	.carousel{
		height:60%;
		width:75%;
		padding-top:3%;
		margin-left:10%;
	}

	/* research overview page */
	.research{
		background-color:#8FABD4;
		border-radius:25px;
		padding:3%;
		margin-top:3%;
	}

	.rBikes{
		height:30%;
		width:75%;
		padding-bottom:3%;
		margin-left:10%;
	}

	.rBus{
		height:30%;
		width:85%;
		padding-bottom:3%;
		margin-left:6%;
	}


	.rCity{
		height:30%;
		width:75%;
		padding-bottom:3%;
		margin-left:10%;
	}

	.rCityTwo{
		height:30%;
		width:75%;
		padding-bottom:3%;
		margin-left:10%;
	}

	.button{
		margin-left:30%;
	}
}

/* Leila Stowe CSS ends */


