body{
	background-color:#EFECE3;
}

h1{
	text-align:center;
	background-color:#4A70A9;
	font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
	padding:2%;
}

p{
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	
}

/* Introduction section */
.intro{
	background-color:#8FABD4;
	border-radius:25px;
	padding:3%;
	margin-top:25px;
}

.introCity{
	height:250px;
	width:300px;
	float:left;
	padding-right:25px;
}

.introCityTwo{
	height:250px;
	width:300px;
	float:right;
	padding-left:25px;
}

/* Research preview section */
.rPreview{
	background-color:#8FABD4;
	border-radius:25px;
	padding:3%;
	margin-top:25px;
}

.rPreviewBike{
	height:250px;
	width:300px;
	float:right;
	padding-left:25px;
}

.button {
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius:25px;
}

/* image carousel */
.carousel{
	height:800px;
	width:900px;
	padding-top:25px;
	margin-left:10%;
}

/* research overview page */
.research{
	background-color:#8FABD4;
	border-radius:25px;
	padding:3%;
	margin-top:25px;
}

.rBikes{
	height:350px;
	width:500px;
	float:left;
	padding-right:25px;
}

.rBus{
	height:350px;
	width:500px;
	float:right;
	padding-left:25px;
}

.rCity{
	height:350px;
	width:500px;
	float:left;
	padding-right:25px;
}

.rCityTwo{
	height:350px;
	width:500px;
	float:right;
	padding-left:25px;
}

.button{
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 15px 32px;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	border-radius:25px;
}
